.dashboard {
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 5%;
}

.dashboard-tile {
  padding: 20px;
  margin: 10px;
}

.new-request {
}

.new-request-container {
  padding: 25px;
}

.new-request-container input {
  width: 100%;
}

.request-field {
  font-size: 4em;
}


.new-request-input {
  width: 100px;
}
