.description{

  text-align:center;

  font-size:30px;
  padding-top:80%;
}

.description span{
  color:white;
}

.main {
  background-image: url('../photos/bg.jpg');
  display: flex;
  flex-direction: column;
  height: 100vh;
}
